section {
    min-height: 100vh;
    align-items: center;
    scroll-margin-top: 60px;
}

body {
    background: radial-gradient(  rgb(82, 80, 80),darkblue,black) ;
}

h1 { 
    color: white;
    font-family: sans-serif; 
    margin: 5px; 
}
p {
    color:black
}
a {
    color:black;   
}
html {
    scroll-behavior: smooth;
}
.navbar ul {
    list-style-type: none;
    background-color: rgb(2, 2, 165);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    padding: 0%;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
    gap: space;
}
.navbar a:hover {
    background-color: rgb(0, 0, 221);
}
.navbar li {
    float: left;
}
body {
    margin: 0px;
    padding-top: 60px;
}
